.introAnimation {
    position: absolute;
    left: -1000px;
    top: 331px;
    width: 20%;
    height: 20vh;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Animation */
    animation-name: SlideGameIntro;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes SlideGameIntro {
    0% {
        left: -1000px;
        top:10px; /* Position initiale */
    }
    100% {
        left: 350px; /* Position finale */
    }
}
.introButton{
    position: absolute;
    left: -1000px;
    width: 80%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    
    /* Animation */
    animation-name: SlideintroButton;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes SlideintroButton {
    0% {
        left: -1000px; /* Position initiale */
    }
    100% {
        position: relative;
        left:0px;
        width: 80%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Position finale */
    }
}