.formBoutons button{
    &:hover {
		background-image: linear-gradient(
    90deg,
    rgba(237, 222, 191, 0.4) 40%,
    rgba(25, 88, 125, 0.4) 100%
  );
}}
.boutons{
  &:hover {
    background: linear-gradient(273.81deg, #890008 0%, #fce8d8 100%);
  }
}
.itemNav{
  &:hover {
    filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%)
  hue-rotate(356deg) brightness(107%) contrast(106%);
    &::after {
      content: "";
      display: block;
      margin: 0 0;
      width: 100%;
      height: 2px;
      background-color: #f1f1f1;
      transition: all 0.2s ease-in-out;
    }
  }
}
.card{
  &:hover {
		background-image: linear-gradient(
    90deg,
    rgba(237, 222, 191, 0.4) 40%,
    rgba(25, 88, 125, 0.4) 100%
  );
	}
}
.Icones 	img {
  &:hover {
    filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%)
  hue-rotate(356deg) brightness(107%) contrast(106%);
  }
}
.logoHome img:hover,
.navIcon img:hover {
	filter: brightness(0) saturate(100%) invert(88%) sepia(44%) saturate(1037%)
    hue-rotate(356deg) brightness(107%) contrast(106%);
}