@media screen and (max-width:320px){
    .ligneGauche {
        width: 2px;
        height: 100%;
        position: fixed;
        left: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
    .ligneDroite {
        width: 2px;
        height: 100%;
        position: fixed;
        right: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
}
@media screen and (max-width:320px){
    .ligneGauche {
        width: 2px;
        height: 100%;
        position: fixed;
        left: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
    .ligneDroite {
        width: 2px;
        height: 100%;
        position: fixed;
        right: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
}
@media screen and (max-width: 768px) {
    .menuLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: start;
    }
    .logoHome, .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width : 1440px) {
    .introButton{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width : 1180px){
    .introButton{
        width: 85%;
        height: auto;
        // background-color: aqua;
        .intro{
            width: 100%;
            height: auto;
            padding: 20px 0;
            span{
                margin: 5px;
            }
        }
        }
    }
@media screen and (max-width : 760px){
    .introButton{
        .boutons{
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}