@media screen and (max-width:320px){
    .ligneGauche {
        width: 2px;
        height: 100%;
        position: fixed;
        left: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
    .ligneDroite {
        width: 2px;
        height: 100%;
        position: fixed;
        right: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
}
@media screen and (max-width:320px){
    .ligneGauche {
        width: 2px;
        height: 100%;
        position: fixed;
        left: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
    .ligneDroite {
        width: 2px;
        height: 100%;
        position: fixed;
        right: 0%;
        border-left: 4px solid rgba(196, 196, 196, 0.2823529412);
    }
}
@media screen and (max-width: 768px) {
    .menuLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: start;
    }
    .logoHome, .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width : 1440px) {
    .introButton{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width : 1180px){
    .introButton{
        width: 85%;
        height: auto;
        // background-color: aqua;
        .intro{
            width: 90%;
            height: auto;
            padding: 20px 0;
            text-align: center;
            span{
                margin: 5px;
            }
        }
        }
    }
@media screen and (max-width : 770px){
    .introButton{
        .boutons{
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}
@media screen and (max-width : 1700px){
    .carte{
        .infoCard{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: auto;
            img{
                width: 300px;
            }
        }
    }
}
@media screen and (max-width : 1600px){
    .carte{
        .infoCard{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: auto;
            p{
                font-size: 22px;
            }
        }
    }
}
@media screen and (max-width : 1300px){
    .carte{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: auto
    }
    .contenu{
        h2{
            padding: auto;
            display: block;
            width: 100%;
            text-align: center;
        }
        p {
            &.presentation {
                width: 85%;
                padding:0 10%;                width: 85%;
                color: #ffffff;
                font-size: 36px;
                font-weight: normal;
                text-align: justify;
                border-top: none;
                border-bottom: none;
                font-size: 22px;
                font-family: "Space Grotesk";
                margin-bottom: 50px;
            }
        }
    }
}
@media screen and (max-width : 1150px){
    .card {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid #c4c4c448;
        border-radius: 5px;
        background-image: linear-gradient(
        90deg,
        rgba(237, 222, 191, 0.4) 40%,
        rgba(25, 88, 125, 0.4) 100%
      );
      .imagecard{
          width: 100%;
          height: 250px;
          background-image: url('../assets/Illustrations/Bathome_ba1.png');
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }
}